<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/javascripts/bootstrap-3.3.7-dist/css/bootstrap.css">
  </head>
  <body>

  <aside>
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">畅销榜</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">新书榜</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content ">
        <div role="tabpanel" class="tab-pane active" id="home">
          <table class="aside-table">
            <tr>
              <td class="aside-num  num-red">01</td>
              <td class="aside-book">
                <p><a href="#">你是那人间的四月天</a></p>
                <p>林徽因</p>
              </td>
              <td class="aside-money  num-red">￥14.00</td>
            </tr>
            <tr>
              <td class="aside-num  num-red">02</td>
              <td class="aside-book">
                <p><a href="#">你是那人间的四月天</a></p>
                <p>林徽因</p>
              </td>
              <td class="aside-money">￥14.00</td>
            </tr>
            <tr>
              <td class="aside-num">03</td>
              <td class="aside-book">
                <p><a href="#">你是那人间的四月天</a></p>
                <p>林徽因</p>
              </td>
              <td class="aside-money">￥14.00</td>
            </tr>
            <tr>
              <td class="aside-num">04</td>
              <td class="aside-book">
                <p><a href="#">你是那人间的四月天</a></p>
                <p>林徽因</p>
              </td>
              <td class="aside-money">￥14.00</td>
            </tr>
              <tr>
              <td class="aside-num">05</td>
              <td class="aside-book">
                <p><a href="#">你是那人间的四月天</a></p>
                <p>林徽因</p>
              </td>
              <td class="aside-money">￥14.00</td>
            </tr>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <table class="aside-table">
            <tr>
              <td class="aside-num  num-red">01</td>
              <td class="aside-book">
                <p><a href="#">你是那人间的新书榜</a></p>
                <p>林徽因</p>
              </td>
              <td class="aside-money  num-red">￥14.00</td>
            </tr>
            <tr>
              <td class="aside-num  num-red">02</td>
              <td class="aside-book">
                <p><a href="#">你是那人间的四月天</a></p>
                <p>林徽因</p>
              </td>
              <td class="aside-money">￥14.00</td>
            </tr>
            <tr>
              <td class="aside-num">03</td>
              <td class="aside-book">
                <p><a href="#">你是那人间的四月天</a></p>
                <p>林徽因</p>
              </td>
              <td class="aside-money">￥14.00</td>
            </tr>
            <tr>
              <td class="aside-num">04</td>
              <td class="aside-book">
                <p><a href="#">你是那人间的四月天</a></p>
                <p>林徽因</p>
              </td>
              <td class="aside-money">￥14.00</td>
            </tr>
            <tr>
              <td class="aside-num">05</td>
              <td class="aside-book">
                <p><a href="#">你是那人间的四月天</a></p>
                <p>林徽因</p>
              </td>
              <td class="aside-money">￥14.00</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </aside>
    <footer>
     <div class="container">
     <div class="foot-1">
       <ul>
         <li><a href="#">关于我们</a></li>
         <li>|</li>
         <li><a href="#">联系我们</a></li>
         <li>|</li>
         <li><a href="#">商务合作</a></li>
         <li>|</li>
         <li><a href="#">我的微书店</a></li>
       </ul>
     </div>
      <div class="foot-2">
        <div class="foot-2-1">
          <p>客服电话:0592-2928051 客服邮箱:service_xm@geeboo.cn</p>
        </div>
      </div>

       <div class="foot-2-1">
          <p>Copyright&copy;2010-2012本公司版权所有&nbsp;闽ICP备14013728号</p>
       </div>


     </div>
    </footer>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </body>
</html>
