<!-- 底部声明 -->
<footer class="footer">
    <div class="container">
        <div class="footer-nav"><a href="#">关于我们</a><span>|</span><a href="#">联系我们</a><span>|</span><a href="#">商务合作</a><span>|</span><a
                    href="#">我的微书店</a></div>
        <div class="footer-text">客服电话：0592-2928051 客服邮箱：service_xm@geeboo.cn</div>
    </div>
    <div class="footer-Copyright">Copyright © 2010-2012 本公司版权所有 闽ICP备14013728号</div>
</footer>