<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>融智商城|注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="Keywords" content="融智商城">
    <meta name="Description" content="融智商城">
    <!--width=device-width, initial-scale=1适当的绘制和触屏缩放;user-scalable=no禁用缩放-->

    <link rel="stylesheet" href="/css/normalize.css">
    <!--强跨浏览器表现的一致性css 重置样式-->
    <link rel="stylesheet" href="/css/iconfont.css">
    <!--字体图标-->
    <link rel="stylesheet" href="/css/main.css">
    <!--自用样式-->
</head>

<body class="rz-page-loginbg">
<header class="rz-page-login-headr"><img src="/images/loginlogo.png"></header>
<section class="rz-page-login-main">
    <div class="rz-page-login-main-h">
        <h3>注册</h3>
        <span>已有账号，<a href="/login">去登录</a>></span></div>
    <div class="rz-page-login-main-form">
        <form action="/register" method="post" onsubmit="return checkForm()">
            <input class=" input" id="email" name="email" placeholder="请输入邮箱地址" type="text">
            <div class="hint " id="email-err" style="visibility: visible;"></div>
            <input class=" input" id="nickname" name="nickname" placeholder="请输入昵称" type="text">
            <div class="hint " id="nickname-err" style="visibility: visible;"></div>
            <input class=" input" id="password" name="password" placeholder="请输入密码" type="password">
            <div class="hint " id="password-err" style="visibility: visible;"></div>
            <input class=" input" id="repassword" name="repassword" placeholder="请输入确认密码" type="password">
            <div class="hint " id="repassword-err" style="visibility: visible;"></div>
            <label class="checkbox" for="chk11">
                <input style="height: auto;" id="chk11" name="remember_me" type="checkbox">
                <p>已同意<a href="#">《融智教育登录服务协议》</a></p>
            </label>
            <div class="rz-page-login-main-ok">
                <button>注册</button>
            </div>
        </form>
    </div>
    <div class="rz-page-login-lietu"><img src="/images/lietu.jpg"></div>
    <div class="clear"></div>
</section>
<footer class="rz-page-login-footer">©Copyright Geeboo.com. All Rights Reserved 京公网安备号：110108007068 ICP备11013919号-1
    京ICP证110513号
</footer>
<!--jquery-->
<script src="/js/jquery.min.js"></script>
<!-- 自用jq -->
<script src="/js/main.js"></script>
<!-- superslide -->
<script src="/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="/vendor/layer/layer.js"></script>

<%- include('msg') %>

<script>

    /**
     * 表单验证
     * @returns {boolean}
     */
    function checkForm() {
        var email = $("#email").val();
        var nickname = $("#nickname").val();
        var password = $("#password").val();
        var repassword = $("#repassword").val();

        var isSubmit = true;

        $("#email-err").html('');
        $("#nickname-err").html('');
        $("#password-err").html('');
        $("#repassword-err").html('');

        if (email == '') {
            $("#email-err").html('请填写邮箱地址！');
            isSubmit = false;
        }
        if (nickname == '') {
            $("#nickname-err").html('请填写昵称！');
            isSubmit = false;
        }
        if (password == '') {
            $("#password-err").html('请填密码！');
            isSubmit = false;
        }
        if (repassword == '') {
            $("#repassword-err").html('请填确认密码！');
            isSubmit = false;
        } else if (password != repassword) {
            $("#repassword-err").html('两次密码不一致！');
            isSubmit = false;
        }
        if (isSubmit && $("#chk11").is(':checked') == false) {
            isSubmit = false;
            layer.alert('请同意协议后才能注册！');
        }
        return isSubmit;
    }
</script>
</body>
</html>
